{% extends 'temas_paginator.html' %}
{% load staticfiles %}

{% block tema_data %}
<script>
jQuery(document).ready(function($) {
  $(".clickable-row").click(function(e) {
    window.location.href = "/" + $(this).children('td')[0].innerHTML + "/" + $(this).children('td')[1].innerHTML + "/";
  });
});
</script>

<table class="table table-hover table-striped">
 <thead>
  <tr style="background: #aaa;">
   <th style="vertical-align: top;" class="col-lg-1 col-md-1 col-sm-1">Temats</th>
   <th style="vertical-align: top;" class="col-lg-9 col-md-7 col-sm-7">Diskusija Tēma</th>
   <th style="vertical-align: top;" class="col-lg-2 col-md-4 col-sm-4 text-right">Pēdējais ieraksts</th>
  </tr>
 </thead>
 <tbody>
{% for t in temas %}
  <tr class="clickable-row">
   <td style="display:none;">{{ t.relate_to_super.slug }}</td>
   <td style="display:none;">{{ t.slug }}</td>
   <td>{{ t.relate_to_super.title }}</td>
   <td>{{ t.title }}&nbsp;&nbsp;<span class="badge"> {{ t.entry_count }}</span></td>
   <td class="text-right">{{ t.last_entry|date:"d/m/Y H:i" }}</td>
  </tr>
{% endfor %}
 </tbody>
</table>
{% endblock %}

