{% extends 'temas_paginator.html' %}
{% load staticfiles %}

{% block tema_data %}
<script>
jQuery(document).ready(function($) {
  $(".clickable-row").click(function(e) {
    window.location.href = "/tema/" + $(this).children('td')[0].innerHTML + "/";
  });
});
</script>

<table class="table table-hover table-striped table-condensed">
 <thead>
  <tr style="background: #aaa;">
   <th style="vertical-align: top;" class="col-lg-1 col-md-1 col-sm-1">Nr.</th>
   <th style="vertical-align: top;" class="col-lg-9 col-md-7 col-sm-7">Temats</th>
   <th style="vertical-align: top;" class="col-lg-2 col-md-4 col-sm-4 text-right">Pēdējais ieraksts</th>
  </tr>
 </thead>
 <tbody>
{% for t in temas %}
  <tr class="clickable-row">
   <td>{{ t.id }}</td>
   <td>{{ t.title }} <span class="badge" id="in_club_count"> {{ t.entry_count }}</span></td>
   <td class="text-right">{{ t.last_entry|date:"d/m/Y H:i" }}</td>
  </tr>
{% endfor %}
 </tbody>
</table>
{% endblock %}
