{% extends 'head.html' %}
{% load staticfiles %}

{% block temas %}

<div class="col-lg-12 col-md-12 col-sm-12">

{% if paginator.visible %}
<style>
.pagination { margin-top: 10px; margin-bottom: 5px; }
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.nav-tabs > li > a{ color: #000; background-color:#eee; }
.nav-tabs > li > a:hover{ background-color: #ccc !important; color:#fff; }
</style>

<center><ul class="pagination">
{% if paginator.big %}{% if paginator.active_page == 1 %}
<li class="disabled"><a href="#">&laquo;&laquo;</a></li>{% else %}<li><a href="/1/">&laquo;&laquo;</a></li>{% endif %}{% endif %}
{% if paginator.active_page == 1 %}<li class="disabled"><a href="#">&laquo;</a></li>{% else %}
<li><a href="/{{ paginator.active_page|add:"-1" }}/">&laquo;</a></li>{% endif %}
 {% for page in paginator.pages %}
 {% if page == 0 %}<li class="disabled"><a href="#">...</a></li>
 {% elif paginator.active_page == page %}<li class="active"><a href="#">{{ page }}</a></li>
 {% else %}<li><a href="/{{ page }}/">{{ page }}</a></li>{% endif %}{% endfor %}
{% if paginator.active_page == paginator.pagecount %}<li class="disabled"><a href="#">&raquo;</a></li>{% else %}
<li><a href="/{{ paginator.active_page|add:"1" }}/">&raquo;</a></li>{% endif %}
{% if paginator.big %}{% if paginator.active_page == paginator.pagecount %}<li class="disabled"><a href="#">&raquo;&raquo;</a></li>{% else %}
<li><a href="/{{ paginator.pagecount }}/">&raquo;&raquo;</a></li>{% endif %}{% endif %}
</ul></center>
{% endif %}

</div>

<div class="container">
{% block tema_data %}{% endblock %}
</div>

{% if add_tema %}
<div class="container">
 <center>
  <h4>{% if user.username %}<a href="#">Pievienot Tēmu vai Diskusiju</a>{% else %}
  Lai pievienotu Tēmu vai Diskusiju nepieciešams <a href="/auth/login/">Autorizēties</a> vai arī <a href="/auth/register/">Reģistrēt lietotāju</a>{% endif %}</h4>
 </center>
</div>
{% endif %}

<div class="col-lg-12 col-md-12 col-sm-12">

{% if paginator.visible %}
<style>
.pagination { margin-top: 10px; margin-bottom: 5px; }
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.nav-tabs > li > a{ color: #000; background-color:#eee; }
.nav-tabs > li > a:hover{ background-color: #ccc !important; color:#fff; }
</style>

<center><ul class="pagination">
{% if paginator.big %}{% if paginator.active_page == 1 %}
<li class="disabled"><a href="#">&laquo;&laquo;</a></li>{% else %}<li><a href="/1/">&laquo;&laquo;</a></li>{% endif %}{% endif %}
{% if paginator.active_page == 1 %}<li class="disabled"><a href="#">&laquo;</a></li>{% else %}
<li><a href="/{{ paginator.active_page|add:"-1" }}/">&laquo;</a></li>{% endif %}
 {% for page in paginator.pages %}
 {% if page == 0 %}<li class="disabled"><a href="#">...</a></li>
 {% elif paginator.active_page == page %}<li class="active"><a href="#">{{ page }}</a></li>
 {% else %}<li><a href="/{{ page }}/">{{ page }}</a></li>{% endif %}{% endfor %}
{% if paginator.active_page == paginator.pagecount %}<li class="disabled"><a href="#">&raquo;</a></li>{% else %}
<li><a href="/{{ paginator.active_page|add:"1" }}/">&raquo;</a></li>{% endif %}
{% if paginator.big %}{% if paginator.active_page == paginator.pagecount %}<li class="disabled"><a href="#">&raquo;&raquo;</a></li>{% else %}
<li><a href="/{{ paginator.pagecount }}/">&raquo;&raquo;</a></li>{% endif %}{% endif %}
</ul></center>
{% endif %}

</div>

{% endblock %}
